body {
    margin: 0;
    background-color: #e9e9e9;
    font-family: 'Open Sans', Roboto, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400px;
    line-height: 1.6;
}

/* For all elements of the page */
*, *:before, *:after {
    box-sizing: border-box;
}

*::selection {
    background: #FEDD55;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    background: none;
    outline: none;
}

.container {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 0;
}

.container-indents {
    padding: 0 15px;
    transition: all .5s linear;
}

.main-content {
    width: 100%;
}

.close-link {
    display: none;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    text-decoration: none;
    opacity: 0;
    transition: all .4s linear 0s;
}

.main-content.active .close-link {
    opacity: 1;
}

.close-icon {
    width: 35px;
    height: 35px;
    stroke: #ADADAD;
    stroke-width: 30;
    stroke-linecap: round;
    transition: all .2s ease-in-out;
}

.close-link:hover .close-icon {
    stroke: #666;
}

.payment-close-link {
    position: absolute;
    top: -10px;
    right: 15px;
    cursor: default;
    text-decoration: none;
}

.payment-close-icon {
    width: 28px;
    height: 28px;
    stroke: #ADADAD;
    stroke-width: 25;
    stroke-linecap: round;
}

.back-link {
    display: none;
    position: absolute;
    top: 20px;
    left: 30px;
    cursor: pointer;
    text-decoration: none;
    opacity: 0;
    transition: all .4s linear 0s;
}

.main-content.active .back-link {
    opacity: 1;
}

.back-icon {
    width: 35px;
    height: 35px;
    fill: #ADADAD;
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}

.back-link:hover .back-icon {
    transform: rotate(180deg) translateX(5px);
    fill: #666;
}
/*****************************************************************/
/*Payment*/
.payment-wrapper {
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    overflow: scroll;
    opacity: 0;
    transition: opacity .4s linear 0s;
}

.main-content.active .payment-wrapper {
    opacity: 1;
}

.payment {
    width: 100%;
    background: #fff;
    margin: 30px auto;
    opacity: 0;
    transition: all .4s linear 0s;
    position: relative;
}

.main-content.active .payment {
    opacity: 1;
}

.payment-inner {
    width: 100%;
    
}

.payment-suptitle {
    text-align: left;
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #999;
    text-decoration: none;
    background: none;
    outline: none;
    -webkit-text-size-adjust: 100%;
}

.payment-title {
    margin: 8px 0 5px 0;
    text-align: left;
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #13a492;
    text-decoration: none;
    background: none;
    outline: none;
    -webkit-text-size-adjust: 100%;
}

.payment-text {
    text-align: left;
    max-width: 500px;
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #aeaeae;
    text-decoration: none;
    background: none;
    outline: none;
    -webkit-text-size-adjust: 100%;
}
.payment-form {
    width: 100%;
    max-width: 500px;
    margin: 20px 0 0 0;
}

.payment-form-container {
    width: 100%;
}

.payment-form-item {
    cursor: default;
    margin-bottom: 20px;
    position: relative;
    transition: all .1s linear;
}

.payment-form-label {
    width: 100%;
    min-width: 245px;
    margin-bottom: 5px;
    display: inline-block;
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #a9a9a9;
    white-space: nowrap;
    -webkit-text-size-adjust: 100%;
    transition: all .1s linear;
}

label.error {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #ff0000;
}

label.valid {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #22a053;
}

.payment-form-input {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #4a4a4a;
    margin: 0px;
    outline: 0;
    background: 0 0;
    vertical-align: top;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: 100%;
    transition: all .1s linear;
}

.payment-form-input:focus {
    border: 1px solid #888;
}

input.error {
    border: 1px solid #ff0000;
}

.payment-form-input.error:focus {
    border: 1px solid #ff0000;
}

input.valid {
    border: 1px solid #22a053;
}

.payment-form-input.valid:focus {
    border: 1px solid #22a053;
}

.payment-form-submit-button {
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 15px 20px;
    background: #13a492;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.15);
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    margin: 10px 0 30px 0;
}

.payment-form-submit-button span {
    position: relative;
    z-index: 200;
}

.payment-form-submit-button-circle {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    background: #222;
    padding: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    transition: opacity .1s linear 0s, transform .3s linear 0s;
}

.payment-form-agrement {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.payment-form-agrement-title {
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #999;
    margin-bottom: 20px;
}

.payment-form-agrement-item {
    cursor: default;
    width: 100%;
    margin-bottom: 20px;
    line-height: 1.3;
    position: relative;
}

.payment-form-agrement-item:last-child {
    margin-bottom: 10px;
}

.payment-form-agrement-checkbox {
    cursor: default;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    background-color: initial;
    box-sizing: border-box;
    padding: initial;
    border: initial;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}

.payment-form-agrement-label {
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #999;
    -webkit-text-size-adjust: 100%;
    padding-left: 22px;
}

.payment-form-agrement-label::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #13a492;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    top: 3px;
    left: 0;
    z-index: 10;
    transition: all .1s linear;
}

.payment-form-agrement-label::after {
    content: "";
    display: block;
    width: 8px;
    height: 4px;
    border-left: 2px solid #13a492;
    border-bottom: 2px solid #13a492;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 20;
    opacity: 0;
    position: absolute;
    top: 7px;
    left: 3px;
    z-index: 20;
    transition: all .1s linear;
}

.payment-form-agrement-checkbox:checked  + .payment-form-agrement-label::before {
    background-color: #fff;
    border: 1px solid #13a492;
    
}

.payment-form-agrement-checkbox:checked  + .payment-form-agrement-label::after {
    opacity: 1;
}

.payment-form-agrement-checkbox-link {
    cursor: default;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #4E7EC3;
    text-decoration: none;
    transition: all .1s linear;
    -webkit-text-size-adjust: 100%;
}


/*****************************************************************/
/*Preloader*/
html.page_load {
    overflow-y: scroll;
    overflow-x: hidden;
}

body.page_load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    
}

.preloader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #e9e9e9;
    z-index: 5000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
}

/****************************************************************/
/*Адаптивная верстка - Общее*/

/*Mobile & Table*/
/*Для ширины экрана от 320px до 1024px*/
@media (min-width: 375px) {
    .container-indents {
        padding: 0 25px;
    }
}

@media (min-width: 550px) {
    .container-indents {
        padding: 0 50px;
    }
}

@media (min-width: 730px) {
    .close-link  {
        display: block;
    }
    
    .back-link  {
        display: block;
    }
    
    .payment-close-link {
        display: none;
    }
}


/*Notebook & PC*/
/*Для ширины экрана от 1000px и более*/
@media (min-width: 1100px) {

}

/*****************************************************************/
/*Адаптивная верстка - Payment */

/*Mobile & Table*/
/*Для ширины экрана от 320px до 1024px*/
@media (min-width: 550px) {
    .payment-wrapper {
        background: transparent;
        opacity: 1;
    }
    
    .payment {
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.02);
        border-radius: 20px;
        padding: 50px 0;
        margin: 30px auto;
    }
    
    .payment-close-link {
        top: 20px;
        right: 20px;
    }
    
    .payment-suptitle {
        font-size: 17px;
    }
    
    .payment-title  {
        font-size: 30px;
        margin: 8px 0 5px 0;
    }
    
    .payment-text {
        font-size: 15px;
    }
    
    .payment-form-submit-button  {
        font-size: 15px;
    }
}

@media (min-width: 550px) and (min-height: 860px) {
    .payment-wrapper {
        justify-content: center;
    }
}

/*Notebook & PC*/
/*Для ширины экрана от 1000px и более*/


@media (min-width: 1000px) {
    .payment-suptitle {
        opacity: 0;
        transform: translateY(20px);
        transition: all .3s linear 0.2s;
    }
    
    .main-content.active .payment-suptitle {
        opacity: 1;
        transform: translateY(0);
    }
    
    .payment-title  {
        opacity: 0;
        transform: translateY(20px);
        transition: all .3s linear 0.4s;
    }
    
    .main-content.active .payment-title {
        opacity: 1;
        transform: translateY(0);
    }
    
    .payment-text {
        opacity: 0;
        transform: translateY(20px);
        transition: all .3s linear 0.6s;
    }
    
    
    .main-content.active .payment-text {
        opacity: 1;
        transform: translateY(0);
    }
    
    .payment-form-item.name {
        opacity: 0;
        transform: translateY(20px);
        transition: all .3s linear 0.8s;
    }
    
    .main-content.active .payment-form-item.name  {
        opacity: 1;
        transform: translateY(0);
    }
    
    .payment-form-item.surname {
        opacity: 0;
        transform: translateY(20px);
        transition: all .3s linear 1s;
    }
    
    .main-content.active .payment-form-item.surname  {
        opacity: 1;
        transform: translateY(0);
    }
    
    .payment-form-item.email {
        opacity: 0;
        transform: translateY(20px);
        transition: all .3s linear 1.2s;
    }
    
    .main-content.active .payment-form-item.email  {
        opacity: 1;
        transform: translateY(0);
    }
    
    .payment-form-item:hover .payment-form-input {
        border: 1px solid #999;
    }
    
    .payment-form-item:hover .payment-form-input.valid {
        border: 1px solid #22a053;
    }
    
    .payment-form-item:hover .payment-form-input.error {
        border: 1px solid #ff0000;
    }
    
    .payment-form-submit-button {
        cursor: pointer;
        opacity: 0;
        transform: translateY(20px);
        transition: all .3s linear 1.4s;
    }
    
    .main-content.active .payment-form-submit-button  {
        opacity: 1;
        transform: translateY(0);
    }
    
    .payment-form-submit-button:hover .payment-form-submit-button-circle {
        transform:  scale(2);
        opacity: 1;
        transition: opacity .5s linear 0s, transform .5s linear 0s;
    }
    
    .payment-form-agrement-label::before,.payment-form-agrement-label::after {
        cursor: pointer;
    }
    
    .payment-form-agrement-checkbox-link {
        cursor: pointer;
    }
    
    .payment-form-agrement-title {
        opacity: 0;
        transform: translateX(20px);
        transition: all .3s linear 1.6s;
    }
    
    .main-content.active .payment-form-agrement-title {
        opacity: 1;
        transform: translateX(0);
    }
    
    .payment-form-agrement-item.risk {
        opacity: 0;
        transform: translateX(20px);
        transition: all .3s linear 1.8s;
    }
    
    .main-content.active .payment-form-agrement-item.risk  {
        opacity: 1;
        transform: translateX(0);
    }
    
    .payment-form-agrement-item.condition {
        opacity: 0;
        transform: translateX(20px);
        transition: all .3s linear 2s;
    }
    
    .main-content.active .payment-form-agrement-item.condition  {
        opacity: 1;
        transform: translateX(0);
    }
}


