# Фал предназначен для перенаправления при запросах в адресной строке
# на папку public и для показа дефолтного файла index.php

# Устанавливаем кодировку
AddDefaultCharset utf-8

# Включаем перенаправление
RewriteEngine On

# Устанавливаем правило перенаправления - все запросы на папку public и сохранить в переменную $jq
RewriteRule (.*) public/$1
