# Файл предназначен для показа дефолтного index'ного файла php при запросе
# в адресной строке

# Условие: если имя запроса не файл
RewriteCond %{REQUEST_FILENAME} !-f

# И если имя запроса не ведет на существующую папку
RewriteCond %{REQUEST_FILENAME} !-d

# То перенаправлем запрос на index.php [L-последнее правило, QSA - query string append -
# - нужно для того, чтобы при запросе дополнительных параметров ?  и & после actiona не отбрасывалось
RewriteRule (.*) index.php?$1 [L,QSA]