html.page_load {
    overflow-y: hidden;
    overflow-x: hidden;
}

body.page_load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

#feedback_load {
    opacity: 0;
    transition: all .2s linear;
}

/* Preloader */
.preloader {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: 50000;
    background: #fff;
}


.preloader_inner {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.loader-container .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.loader-container {
    position: relative;
    float: left;
    width: 250px;
    height: 250px;
    margin-top: -10px;
}

.arc-rotate .loader {
    width: 100px;
    height: 100px;
}

.arc-rotate .loader .arc {
    position: absolute;
    border: 2px solid;
    border-color: transparent rgba(45, 169, 140, 0.7) rgba(45, 169, 140, 0.7) rgba(45, 169, 140, 0.7);
    border-radius: 50%;
    margin: 32% 0 0 32%;
    width: 36%;
    height: 36%;
    animation: single-arc-rotate 1s infinite linear;
}

@keyframes single-arc-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}


/*******************************************************************/
@media (min-width: 1000px) {
    .preloader_inner {
        top: 80px;
    }
}

@media (min-width: 1040px) {
    .preloader {
        max-width: 1000px;
    }
}

@media (min-width: 1280px) {
    .preloader {
        max-width: 1180px;
    }
    
    .loader-container {
        margin-top: 0;
    }
}

@media (min-width: 1400px) {
    .preloader_inner {
        top: 90px;
    }
    
    .preloader {
        max-width: 1280px;
    }
    
}


/**********************************************************************************************************************************/